# Модуль содержит тесты для события push.
name: push event

on:
    push:
#        branches: [ main ]

jobs:
    linter:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [ '3.9' ]
        name: linters with python ${{ matrix.python-version }}  # Удобно же видеть какая сейчас версия.
        steps:
            -   uses: actions/checkout@v2
            -   name: Install Python
                uses: actions/setup-python@v2
                with:
                    python-version: ${{ matrix.python-version }}
            -   name: Install Poetry
                uses: abatilo/actions-poetry@v2.0.0
                with:
                    poetry-version: '1.1.13'

            -   name: Install dependencies
                run: poetry update

            -   name: Flake8
                run: poetry run flake8 .

            -   name: Mypy
                run: poetry run mypy .
