# Модуль содержит тесты для события push.
name: push event

on:
    push:
#        branches: [ main ]

jobs:
    linter:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [ '3.9' ]
        name: linters with python ${{ matrix.python-version }}  # Удобно же видеть какая сейчас версия.
        steps:
            -   uses: actions/checkout@v2
            -   name: Install Python
                uses: actions/setup-python@v2
                with:
                    python-version: ${{ matrix.python-version }}
            -   name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    pip install flake8 mypy wemake-python-styleguide types-requests

            -   name: Flake8
                run: flake8 . --config setup.cfg

            -   name: Mypy
                run: mypy .
